<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
</head>
<body>
<ul class="body_slides">
<li></li>
<li></li>
<li></li>
</ul>
    <div class="container">


      <div class="block-1 active"><a href="/"><ya-tr-span data-index="6-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Home" data-translation="Главная" data-type="trSpan">Главная</ya-tr-span></a></div>
      <div class="block-1"><a href="/about-us"><ya-tr-span data-index="10-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="About" data-translation="О нас" data-type="trSpan">О нас</ya-tr-span></a></div>

        <div class="block-2">
<form enctype="multipart/form-data" method="post">
   <p>
       <input type="file" name="photo" accept="image/*,image/jpeg">
   <input type="submit" value="Отправить">
   </p>
</form>
    </div>
        <img class="block-2" src="/web-cam">
    </div>
</div>
</body>
</html>